
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrijateljiLabel">Create or edit a Prijatelji</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.prijatelji.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.prijatelji.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idGosta1">Id Gosta 1</label>
            <input type="number" class="form-control" name="idGosta1" id="field_idGosta1"
                    ng-model="vm.prijatelji.idGosta1"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idGosta2">Id Gosta 2</label>
            <input type="number" class="form-control" name="idGosta2" id="field_idGosta2"
                    ng-model="vm.prijatelji.idGosta2"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postalanZahtev">Postalan Zahtev</label>
                <div class="input-group">
                    <input id="field_postalanZahtev" type="text" class="form-control" name="postalanZahtev" uib-datepicker-popup="{{dateformat}}" ng-model="vm.prijatelji.postalanZahtev" is-open="vm.datePickerOpenStatus.postalanZahtev"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('postalanZahtev')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_prihvacenZahtev">Prihvacen Zahtev</label>
                <div class="input-group">
                    <input id="field_prihvacenZahtev" type="text" class="form-control" name="prihvacenZahtev" uib-datepicker-popup="{{dateformat}}" ng-model="vm.prijatelji.prihvacenZahtev" is-open="vm.datePickerOpenStatus.prihvacenZahtev"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('prihvacenZahtev')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
